<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') %> 
</head>
<body>
  <%- include('./partials/navbar') %> 

  <h1>Features page</h1>

  <p><strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perferendis aut omnis ipsam facere ea ab reiciendis architecto nam expedita in deserunt enim, explicabo exercitationem vitae alias eum, quia deleniti.</strong></p>
</body>
</html>